{% extends 'base.html.twig' %}

{% block title %}Consommer une API et enregistrer les résultats en base de données{% endblock %}

{% block body %}

    <h1 class="uk-tile uk-tile-default uk-padding-small">Consommer une API et enregistrer les résultats en base de données</h1>

    <p>Total des commandes dont le statut est 'new' : {{ total_new_orders }}</p>

{% endblock %}
