{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="uk-tile uk-tile-default uk-padding-small">Charger des commandes en javascript</h1>
    <div uk-filter="target: #orders">

        <!-- Filtre des commandes -->
        <!-- Database request -->
        <form>
            <label for="order-filter">Filtre des commandes :</label>
            <select id="order-filter">
                <option value="">-- Tous les status ---</option>
                <option value="new">new</option>
                <option value="shipped">shipped</option>
                <option value="canceled">canceled</option>
            </select>
        </form>
         <!-- Only js -->
        <ul class="uk-subnav uk-subnav-pill">
            <li class="uk-active" uk-filter-control><a href="#">Tous les status</a></li>
            <li uk-filter-control="[data-status='new']"><a href="#">new</a></li>
            <li uk-filter-control="[data-status='shipped']"><a href="#">shipped</a></li>
            <li uk-filter-control="[data-status='canceled']"><a href="#">canceled</a></li>
        </ul>


        <!-- Liste des commandes -->
        <ul id="orders"></ul>
    </div>
	<script type="application/javascript">
        //fonction d'appel api
        function fetchOrder(){
            //définition des variables
            const url = 'http://localhost:8000/api/orders/random'
            // Récupération du template
            var orderTemplate = $("#order-template").html();

            // Récupération du container d'orders
            var orderContainer = $("#orders");
            // Récupération du select(filtre)
            var select = $( "#order-filter" )
            var selectedValue = $("#order-filter").children("option:selected").val();

            orderContainer.html("<span uk-spinner='ratio: 4.5'></span>")
            console.log("selectedValue",selectedValue)
                $.ajax({
                    method: "GET",
                    url: url,
                    data:{'filtre':selectedValue}
                })
                .done(function( data ) {
                    // Chargement du template dans lodash
                    let templateFn = _.template(orderTemplate);
                    let tempHtml = "";
                    data.forEach(order => {
                    // Définition des valeurs du template
                        tempHtml += templateFn({
                            'id':order.id,
                            'created_at':order.created_at,
                            'firstname':order.firstname,
                            'lastname':order.lastname,
                            'status':order.status
                        });
                        
                        
                    });
                    // insertion du template
                    orderContainer.html( tempHtml );
                    console.log( "Données récupéré: ", data );
                });
            }

            //Appel de la fonction lors d'événements
            $( document ).ready(function() {
                fetchOrder();
            });
            $( "#order-filter" ).change(function() {
                fetchOrder();
            });


        
        

	</script>
	<!-- Template -->
	<script id="order-template" type="text/x-lodash-template">
		<li data-status="<%= status %>">
			<div class="order-id" ><%= id %></div>
			<div class="order-date"><%= created_at %></div>
			<div class="order-customer"><%= firstname %>
				<%= lastname %></div>
			<div class="order-status"><strong><%= status %></strong></div>
		</li>
	</script>
<style>
    #orders{
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 90vw;
        flex-wrap: wrap;
    }
	#orders li {
        width: 100%;
        list-style: none;
        border-radius: 5px;
        box-shadow: 0px 7px 10px rgba(100, 100, 100, 0.26);
        margin: 20px 0;
        padding: 15px 10px;
        justify-content: space-evenly;
        display: flex;
        /*animation: ease 0.5s forwards goin;*/
	}
    @keyframes goin{
        0%{
            opacity:0;
            transform:translateY(-15px);
        }
        100%{
            opacity:1;
            transform:translateY(0);
        }
    }
    li div{
        width:20%;
    }
</style>

{% endblock %}
